.logo-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-text{
    color: var(--gris);
}

.form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form{
    max-width: 500px;
    width: 50%;
    min-width: 300px;
}

.input-group{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
}

@media (max-width: 668px) {
    .input-group{
        width: 100%;
    }
}

.checkbox-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
    gap: 5px;
}

.checkbox{
    width: 25px;
    height: 25px;
}

.checkbox-text{
    user-select: none;
}

.input-group-textarea{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 10px;
}

@media (max-width: 668px) {
    .input-group-textarea{
        width: 100%;
    }
}

.button-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.center{
    justify-content: space-around;
}

.input-text{
    margin-bottom: 10px;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
}

.input{
    height: 30px;
    padding-left: 10px;
    border: var(--gris-azulado) 1px solid;
    box-shadow: var(--gris) 0px 1px 2px;
    border-radius: 5px;
}

.textarea{
    height: 80px;
    padding-top: 5px;
    padding-left: 10px;
    border: var(--gris-azulado) 1px solid;
    box-shadow: var(--gris) 0px 1px 2px;
    border-radius: 5px;
    resize: none;
}

.disabled{
    background-color: var(--gris);
    color: var(--blanco);
    cursor: not-allowed;
}