.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid var(--blanco);
    border-top: 10px solid var(--verde);
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
        border-top: var(--verde) 10px solid;
    }

    50%{
        border-top: var(--amarillo) 10px solid;
    }

    100%{
        transform: rotate(360deg);
        border-top: var(--verde) 10px solid;
    }
}