.header{
    position: sticky;
    top: 0;
    z-index: 1;
}

#sidebar{
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    z-index: 3;
    transition: transform .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-active{
    transform: translateX(0);
}

.sidebar-inactive{
    transform: translateX(-100%);
}

.sidebar-overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw; /* 100% - width of sidebar */
    height: 100vh;
    z-index: 2;
}

.sidebar-overlay-active{
    display: block;
    background-color: rgba(0, 0, 0, .5);
}

.sidebar-overlay-inactive{
    display: none;
    background-color: rgba(0, 0, 0, 0);
}

.btn-toggle-sidebar{
    border: none;
    padding: .5rem;
    cursor: pointer;
    border-radius: 5px;
    width: 32px;
    height: 32px;
}