@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root{
    --verde: #068443;
    --gris: #37465D;
    --amarillo: #f7b440;
    --rojo: #F04848;
    --blanco: #fff;
    --negro: #000;
    --gris-azulado: #37465d68;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*estilos de color*/
.verde{
    background-color: var(--verde);
    color: var(--blanco);
}

.gris{
    background-color: var(--gris);
    color: var(--blanco);
}

.amarillo{
    background-color: var(--amarillo);
    color: var(--blanco);
}

.rojo{
    background-color: var(--rojo);
    color: var(--blanco);
}

/*colores solo texto*/
.c-verde{
    color: var(--verde);
}

.c-gris{
    color: var(--gris);
}

.c-amarillo{
    color: var(--amarillo);
}

.c-rojo{
    color: var(--rojo);
}

/*estilos de layout*/
.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-contente-end{
    justify-content: end !important;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.aling-items-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.self-start{
    align-self: start;
}

.self-center{
    align-self: center;
}

.self-end{
    align-self: end;
}

.btn{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 5px;
    cursor: pointer;
    transition: all .3s;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    background-color: var(--gris);
    transform: scale(1.05);
}

.logo-icon{
    width: 100px;
}   

.logo-icon img{
    width: 100%;
}

.border{
    border: 1px solid var(--gris);
    border-radius: 10px;
}

.box-shadow{
    border: var(--gris-azulado) 1px solid;
    box-shadow: var(--gris) 0px 0px 2px;
}

.non-link{
    text-decoration: none;
    color: var(--blanco);
}

.list-none{
    list-style: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
